/* -------------------- */
/* Variables */
/* -------------------- */

$success:#60BF88;
$error:#EA8282;
$warning:#F9A826;
$primary:#1D355D;
$secondary:#2F527B;
$tertiary:#F2F2F2;
$purple-primary:rgba(96, 102, 208, 0.8);
$purple-secondary:rgba(96, 102, 208, 0.7);